body.clusterpress.cp-site .site-forum-intro {
	margin-bottom: 1em;
}

body.clusterpress.cp-site .site-forum-intro ul,
body.clusterpress.cp-site .site-forum-intro ol {
	margin-left: 1em;
}

.type-clusterpress.forum #bbpress-forums,
.type-clusterpress.forums #bbpress-forums,
.type-clusterpress.forum #bbpress-forums .bbp-body .bbp-reply-content,
.type-clusterpress.forums #bbpress-forums .bbp-body .bbp-reply-content,
.type-clusterpress.forum #bbpress-forums .bbp-body .bbp-topic-title .bbp-topic-permalink,
.type-clusterpress.forums #bbpress-forums .bbp-body .bbp-topic-title .bbp-topic-permalink,
.type-clusterpress.forums #bbpress-forums .bbp-body .bbp-forum-title {
	font-size: initial;
}

.type-clusterpress.forum #bbpress-forums img.avatar,
.type-clusterpress.forums #bbpress-forums img.avatar {
	display: inline-block;
	border: none;
}

body.clusterpress.cp-site .site-forum-header-links {
	overflow: hidden;
	clear:both;
	margin-bottom: 1em;
}

body.clusterpress.cp-site .site-forum-header-links a,
body.clusterpress.cp-site .topic-tag-description a.bbp-edit-topic-tag-link,
body.clusterpress.cp-site #site-forum-delete a {
	color: inherit;
	text-decoration: none;
	box-shadow: none;
	border: none;
}

body.clusterpress.cp-site .site-forum-header-links .dashicons {
	margin-right: 5px;
	vertical-align: text-top;
}

body.clusterpress.cp-site .site-forum-header-links .site-forum-topic-tags {
	float: left;
}

body.clusterpress.cp-site .site-forum-header-links #subscription-toggle,
body.clusterpress.cp-site .site-forum-header-links #favorite-toggle {
	border: solid 1px #ddd;
	padding: 2px 5px;
	display: inline-block;
	float: right;
	margin-left: 5px;
}


.type-clusterpress.forum #bbpress-forums .bbp-form .bbp-template-notice,
.type-clusterpress.forums #bbpress-forums .bbp-form .bbp-template-notice,
.type-clusterpress.forum #bbpress-forums .bbp-form .bbp-template-notice li,
.type-clusterpress.forums #bbpress-forums .bbp-form .bbp-template-notice li,
.type-clusterpress.forum #bbpress-forums .bbp-pagination-count,
.type-clusterpress.forums #bbpress-forums .bbp-pagination-count {
	font-size: inherit;
	background: transparent;
	border: none;
	font-weight: 40%;
	font-style: italic;
	opacity: 0.7;
}

body.clusterpress.cp-site .topic-tag-description {
	overflow: hidden;
	clear: both;
}

body.clusterpress.cp-site .topic-tag-description a.bbp-edit-topic-tag-link {
	float: right;
	font-size: 80%;
}

body.clusterpress.cp-site .topic-tag-description ul li {
	list-style: none;
	margin: 0;
}

body.clusterpress.cp-site .bbp-no-topic .bbp-template-notice,
body.clusterpress.cp-site .bbp-no-topic .entry-content,
body.clusterpress.cp-site .bbp-no-reply .bbp-template-notice,
body.clusterpress.cp-site .bbp-no-reply .entry-content {
	border: none;
	background: transparent;
	margin: 0;
	height: 100%;
	margin-left: 5px;
	overflow: hidden;
	padding: 0;
}

body.clusterpress.cp-site .bbp-no-topic .bbp-template-notice li,
body.clusterpress.cp-site .bbp-no-reply .bbp-template-notice li {
	font-size: initial;
}

body.clusterpress.cp-site .bbp-no-topic,
body.clusterpress.cp-site .bbp-no-reply {
	width: 100%;
	clear: both;
	background: #fff;
	border: solid 1px #f1f1f1;
	border-left: solid 4px #d33;
	margin: 10px 0;
	padding: 0.5em 0;
}
